body{
    color: white;
    background: pink;
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camer{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
.name_of_member, #result_member_name, #result_member_accuracy{
    color: yellow;
}